<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../assets/login.css">
    <link rel="stylesheet" href="../assets/responsive.css">
    <link rel="stylesheet" href="../assets/common.css">
</head>
<body>
    <%- include('components/header') %>
    <main>
        <div class="login-container">
            <h2>Login</h2>
            <form>
                <div class="form-row">
                    <input type="text" placeholder="Username">
                </div>
                <div class="form-row">
                    <input type="password" placeholder="Password">
                </div>
                <div class="btn-container">
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </main>
    <%- include('components/footer') %>
</body>
</html>