:root {
    --bg-dark: #05070a;
    --bg-deep-blue: #0f172a;
    --text-main: #e2e8f0;
    --color-standard: #f97316; /* Cam */
    --color-vip: #dc2626;      /* Đỏ */
    --color-couple: #2563eb;   /* Xanh dương */
    --color-selected: #ffffff;
    --color-occupied: #334155;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-main);
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.payment-container {
    background-color: var(--bg-deep-blue);
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
}

.payment-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}
.order-infor {
    flex: 1;
    text-align: left;
}
.qr-code {
    flex: 1;
    text-align: center;
}
.payment-container #confirm-payment {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: var(--color-standard);
    color: var(--text-main);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.payment-container #confirm-payment:hover {
    background-color: var(--color-vip);
}