<header>
    <div class="logo">
        <img src="" alt="logo">
        <h1>My Website</h1>
    </div>
    
    <!-- This part changes based on session -->
        <% if (user) { %>
    <div class="account">
            <img src="avatar.jpg" alt="Avatar" class="avatar">
            <!-- <span>Welcome, <%= user.username %>!</span>
            <button id="logout">Logout</button> -->
    </div>
    <% } else { %>
    <div class="account">
        <!-- In this case, it shows login and register buttons -->
        <button id="login">Login</button>
        <button id="register">Register</button>
    </div>
    <% } %>
</header>