<div id="myModal" class="modal-overlay">
    <div class="modal-content">
        <!-- Hình ảnh minh họa -->
        <!-- Chuyển trang (tab mới) nếu click vào ảnh-->
        <img src="https://via.placeholder.com/150" alt="Hình ảnh minh họa" style="margin-top: 15px; border-radius: 5px;", onclick="window.open('https://www.example.com', '_blank');">
        
        <button class="close-btn" onclick="toggleModal(false)">✖ Đóng</button>
    </div>
</div>